/*
 Includes
 */

@import "../packages/bourbon/app/assets/stylesheets/bourbon";
@import "../packages/neat/app/assets/stylesheets/neat";
@import "../packages/bitters/app/assets/stylesheets/base";

/*
 Variables
 */

$color-blue:                 #4A89DC;
$color-pink:                 #ED5565;
$color-dark:                 #434A54;
$color-gray:                 #E6E9ED;

/*
 OverWrites
*/

$header-font-family:        "Roboto";
$base-font-family:          "Roboto";

/*
 Main Code
 */

.introHeader {
 background: -webkit-linear-gradient(135deg, $color-blue 10%, $color-pink 90%); /* Chrome 10+, Saf5.1+ */
 background:    -moz-linear-gradient(135deg, $color-blue 10%, $color-pink 90%); /* FF3.6+ */
 background:     -ms-linear-gradient(135deg, $color-blue 10%, $color-pink 90%); /* IE10 */
 background:      -o-linear-gradient(135deg, $color-blue 10%, $color-pink 90%); /* Opera 11.10+ */
 background:         linear-gradient(135deg, $color-blue 10%, $color-pink 90%); /* W3C */
 -webkit-animation: AnimationName 10s ease infinite;
 -moz-animation: AnimationName 10s ease infinite;
 -o-animation: AnimationName 10s ease infinite;
 animation: AnimationName 10s ease infinite;
 background-size: 800% 800%;
 padding: 150px 20px;
 text-align: center;
 @include position(fixed, 0 0 0 0);
 overflow: scroll;
 .title {
  font-size: golden-ratio($h1-font-size, 2);
  font-weight: 400;
  color: #ffffff;
  span {
   font-weight: 300 !important;
  }
 }
 .description {
  font-size: $base-font-size;
  color: rgba(255,255,255, 0.87);
  text-transform: uppercase;
  font-weight: 400;
  display: table;
  margin: 0 auto;
 }
}
.content {
 padding: 25px 20px;
}

/*
 Framework Modifications
 */

body, html {
 margin: 0;
 padding: 0;
 min-height: 100%;
}

h1, h2, h3, h4, h5 {
 font-weight: 400 !important;
 text-transform: uppercase;
}

* {
 font-family: Roboto ,"Roboto" ,"Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
}

/*
 Helper Code
 */

.columns {
 @include outer-container();
 .column-3 {
  @include span-columns(3);
  min-height: 100%;
 }
 .column-2 {
  @include span-columns(2);
  min-height: 100%;
 }
 .column-6 {
  @include span-columns(6);
  min-height: 100%;
 }
 .column-4 {
  @include span-columns(4);
  min-height: 100%;
 }
 .column-10 {
  @include span-columns(10);
  min-height: 100%;
 }
 .column-8 {
  @include span-columns(8);
  min-height: 100%;
 }
 .column-9 {
  @include span-columns(9);
  min-height: 100%;
 }
}
.inner {
 @include outer-container();
}
.callToAction {
 background: transparent;
 padding: 20px 30px;
 @include border-top-radius(3px);
 @include border-bottom-radius(3px);
 border: 2px solid #ffffff;
 display: table;
 margin: 50px auto;
 color: #ffffff;
 &:hover {
  background: rgba(255,255,255,0.435);
  color: #ffffff;
 }
}

/*
 Animations
 */

@-webkit-keyframes AnimationName {
 0%{background-position:0% 87%}
 50%{background-position:100% 14%}
 100%{background-position:0% 87%}
}
@-moz-keyframes AnimationName {
 0%{background-position:0% 87%}
 50%{background-position:100% 14%}
 100%{background-position:0% 87%}
}
@-o-keyframes AnimationName {
 0%{background-position:0% 87%}
 50%{background-position:100% 14%}
 100%{background-position:0% 87%}
}
@keyframes AnimationName {
 0%{background-position:0% 87%}
 50%{background-position:100% 14%}
 100%{background-position:0% 87%}
}